appdirs==1.4.3
appnope==0.1.0
atari-py==0.0.18
autobahn==0.17.1
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
blinker==1.4
box2d-py==2.3.1
certifi==2017.1.23
click==6.7
ConcurrentLogHandler==0.9.1
constantly==15.1.0
coverage==4.4.1
croniter==0.3.16
cycler==0.10.0
Cython==0.25.2
decorator==4.0.11
dill==0.2.6
docker-py==1.10.3
docker-pycreds==0.2.1
edit-distance==1.0.1
elasticsearch==1.9.0
enum34==1.1.6
ez-setup==0.9
fastzbarlight==0.0.14
fbprophet==0.1.post1
Flask==0.12.2
Flask-Blogging==1.0.2
Flask-Cache==0.13.1
Flask-FileUpload==0.5.0
Flask-Login==0.4.0
Flask-Principal==0.4.0
Flask-WTF==0.14.2
funcsigs==1.0.2
functools32==3.2.3.post2
funniest==0.1
gevent==1.2.1
go-vncdriver==0.4.19
greenlet==0.4.12
-e git+https://github.com/openai/gym@518f4b7c4ba0a45032afdc87ac3b3be6725efee5#egg=gym
h5py==2.6.0
imageio==2.1.1
incremental==16.10.1
influxdb==4.0.0
ipaddress==1.0.17
ipython==5.3.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.9.5
kazoo==2.2.1
Keras==1.2.2
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.0.0
mock==2.0.0
mujoco-py==0.5.7
neat-python==0.8
neatpy==0.1.4
numpy==1.12.0
olefile==0.44
Orange==2.7.8
pachi-py==0.0.21
packaging==16.8
pandas==0.19.2
pathlib2==2.2.1
patsy==0.4.1
pbr==3.0.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.0.0
prompt-toolkit==1.0.13
protobuf==3.2.0
ptyprocess==0.5.1
pyelasticsearch==1.4
pyglet==1.2.4
Pygments==2.2.0
pykafka==2.5.0
pylru==1.0.9
pymemcache==1.4.3
pymongo==3.4.0
PyMySQL==0.7.10
PyOpenGL==3.1.0
pyparsing==2.2.0
pystan==2.14.0.0
python-dateutil==2.6.0
python-slugify==1.2.4
pytz==2016.10
PyYAML==3.12
qblog==0.0.0
redis==2.10.5
requests==2.10.0
robotframework==3.0.2
rq==0.7.1
rq-scheduler==0.7.0
scandir==1.5
scikit-learn==0.18.1
scipy==0.19.0
shadowsocks==2.8.2
shortuuid==0.5.0
simplegeneric==0.8.1
simplejson==3.10.0
singledispatch==3.4.0.3
six==1.10.0
SQLAlchemy==1.1.14
statsmodels==0.8.0
subprocess32==3.2.7
tabulate==0.7.7
tensorflow==1.0.0
Theano==0.8.2
tornado==4.4.3
traitlets==4.3.2
Twisted==16.6.0
txaio==2.6.0
ujson==1.35
Unidecode==0.4.21
-e git+https://github.com/openai/universe.git@a6ed56b37bba3f5abff73c297a8a20271d73cab2#egg=universe
urllib3==1.20
vboxapi==1.0
virtualenv==15.0.3
wcwidth==0.1.7
websocket-client==0.40.0
Werkzeug==0.12.2
WTForms==2.1
zope.interface==4.3.3
