{% extends "./tutorial/clickable/template_clickable_image.html" %}
{% block content %}
  <iframe style="width: 85%; visibility:hidden;" allowTransparency="true" background="transparent" src="/static/images/tutorial/clickable/decision_making_4.mp4" onload="this.style.visibility='visible';"></iframe>
    <!-- <video id="decision_making" autoplay="autoplay" class="videoInsert" controls><source src="/static/images/tutorial/clickable/decision_making_4.mp4" type="video/mp4" /></video> -->

    </br></br>

    <h4>The gender is male, indeed! This supports our hypothesis about it being father and son.</h4>

{% include 'tutorial/clickable/submit_button.html' %}
  
{% endblock %}



