{% extends "./tutorial/clickable/template_clickable_image.html" %}
{% block content %}
   
    <video id="decision_making" autoplay="autoplay" width="85%" style="border-width: 3px; border-style: solid; margin-left: 0%;" controls><source src="/static/images/tutorial/clickable/decision_making_5.mp4" type="video/mp4" /></video>

    </br></br>

    <h4>We don't need to open any more information to make our decision. These two are likely father and son, so they are different people.</h4>

{% include 'tutorial/clickable/submit_button.html' %}
  
{% endblock %}



