{% extends "./tutorial/clickable/template_clickable_image.html" %}
{% block content %}
   
    <video id="decision_making" autoplay="autoplay" class="videoInsert" controls>
        <source src="/static/images/tutorial/clickable/decision_making_2.mp4" type="video/mp4" />
    </video>

    </br></br>

    <h4>
    Date of birth (DoB) has a difference of almost 50 years! </br></br>

    Next, let's look at the differences in the last name field.
    </h4>

{% include 'tutorial/clickable/submit_button.html' %}
  
{% endblock %}



