{% extends "./tutorial/clickable/template_clickable_image.html" %}

{% block content %}

<center><h2>What is MINDFIRL?</h2></center>
<br>
<div>
   <!-- <h5>This is a clickable interface. Essentially, you can click on ANY masked cell to open it up.</h5> -->
   <h5>At first, MINDFIRL hides all identifiers from researchers. The symbols help researchers understand if two records have the same or different values. If they are different, MINDFIRL gives clues to help researchers understand how they are different without seeing the hidden values. If researchers need even more information to match records accurately, they can click on a value to reveal some information.</h5>
   <br>
   <!-- <img src="static/images/tutorial/clickable.gif" style="border-width: 10px; border-style: solid;"> -->
   <video controls autoplay="autoplay"  id="vid" style="border-width: 3px; border-style: solid;">
   		<source src="/static/images/tutorial/clickable/demo.mp4" type="video/mp4" />
   </video>
</div>

<br><br>

<center><h2>Try it?</h2></center>

<br>

{% include "./tutorial/clickable/table.html" %}

<br>

<h3>Legend</h3>

<img src="/static/images/tutorial/clickable/legend.jpg" height="300px">
        
{% endblock %}