<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PPIRL</title>
    <link rel="shortcut icon" href="/static/images/site/favicon.ico" type="image/x-icon" />

        <link rel="stylesheet" href="/static/css/site.css?q=1" type="text/css">
        <link rel="stylesheet" href="/static/css/style.css?q=29" type="text/css">
        <link rel="stylesheet" href="/static/css/ionicons.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/select.css?q=12" type="text/css">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/footer.css" type="text/css">
        <link rel="stylesheet" href="/static/css/animate.min.css">
        <link rel="stylesheet" href="/static/css/tutorial.css">

        <script src="/static/javascript/jquery-3.2.1.min.js"></script>
        <script src="/static/javascript/popper.min.js"></script>
        <script src="/static/javascript/bootstrap.min.js"></script>
        <script src="/static/javascript/site.js"></script>
        <script src="/static/javascript/choice_panel.js?v=3"></script>
        <script src="/static/javascript/grading.js"></script>
        <script src="/static/javascript/form_submit.js"></script>
        <script src="/static/javascript/clickable.js?v=13"></script>
        <script type=text/javascript>
                    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                    $THIS_URL = "{{ thisurl }}";
                    $NEXT_URL = $SCRIPT_ROOT + "{{ url_for('next') }}";
                    $user_data = "type: info, url: " + $THIS_URL + ";";
                    $DELTA = {
                    {% for d in delta %}
                        "{{ d[0] }}":{{ d[1]}},
                    {% endfor %}
                    };
                    $KAPR_LIMIT = {{ kapr_limit }};
                    $KAPR = 0;

                    // $(window).on("beforeunload", function() {
                    //     return "Are you sure? You will lose all the date if you leave!";
                    // });
                </script>
    </head>

    <body>


        <div style="margin-left: 5%; margin-top: 5%;">
            <!-- <h3>Tutorial 3</h3> -->

            {% block content %}
            {% endblock %}


        </div>    

        <div id="footer_filler"></div>
        <div class="footer">
            <div class="container">
                <span class="text-muted">Copyright © 2017 • Population Informatics Research Group • Texas A&M University</span>
            </div>
        </div>
    </body>

</html>
