{% extends "head_template.html" %}
{% block content %}

<img src="/static/images/tutorial/slides/5.jpg" width="65%" style="margin-left: 15%;"/>


 <!--  <br>
  <h4>How to open?</h4>
   
   <ul>
        <li>You cannot open all the cells because as disucussed, that would compromise privacy. </li>
        <li>To remind you of how judicious you are in opening information, we have a privacy budget meter. </li>
        <li>Think of it as every cell having a price tag and you are to use your budget wisely. </li>
        <li>The meter shows
            <ul>
                <li>The price of a cell you hover over one</li>
                <li>Your current expenditure</li>
            </ul> 
        </li>
   </ul>

   <br><br>
 <img src="static/images/down_arrow.png" height="100px" width="75px" style="position: absolute; left: 1350px; top: 200px;" /> -->

  <!-- <video autoplay="autoplay"  style="border-width: 3px; border-style: solid;" controls><source src="static/images/tutorial/budget_meter.mp4" type="video/mp4" /></video> -->
{% endblock %}


