{% extends "head_template.html" %}
{% block content %}
   <ul>
        <li>You cannot open all the cells because as disucussed, that would compromise privacy. </li>
        <li>To remind you of how judicious you are in opening information, we have a privacy budget meter. </li>
        <li>Think of it as every cell having a price tag and you are to use your budget wisely. </li>
        <li>The meter shows
            <ul>
                <li>The price of a cell you hover over one</li>
                <li>Your current expenditure</li>
            </ul> 
        </li>
   </ul>

   <br><br>

   <img src="static/images/tutorial/budget_meter.gif" style="border-width: 10px; border-style: solid;">
{% endblock %}


