/*
    stylesheet for the entire site.
*/

html {
    font-size: 18px;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}


#title h3 {
    font-size: 36px;
    margin-bottom: 0px;
}

#page-number {
  /*
  width: 100px;
  float: right;
  margin-right: 50px;
  */
  width: 100%;
  text-align: center;
}

.submit_button {
    background-color: #30819C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    background-color: #b3b3b3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: not-allowed;
}
