.ImageBorder
{
    width: 65%;
    margin-left: 20%;
    padding:1px;
    border:thin solid black;
}


.ImageTbl
{
    width: 50%;
    padding:1px;
    border:thin solid black;
}

.TblFeedback
{
    position: absolute;
    margin-top: 2%;
    margin-left: 50%;
    width: 30%;
    /*padding:1px;*/
    /*border:thin solid black;*/
}

.FeedbackNImg
{
    /*background-color: green;*/
    /*display: inline-block;*/
}