<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PPIRL</title>
        <link rel="shortcut icon" href="../static/images/site/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="../static/css/site.css" type="text/css">
        <link rel="stylesheet" href="../static/css/instructions.css?q=26" type="text/css">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="../static/css/footer.css" type="text/css">
        <script src="../static/javascript/jquery-3.2.1.min.js"></script>
        <script src="../static/javascript/popper.min.js"></script>
        <script src="../static/javascript/bootstrap.min.js"></script>
        <script src="../static/javascript/site.js"></script>
        <script src="../static/javascript/instructions.js"></script>
    </head>

    <body>
        <div id="wrapper">
            <div id="title">
                <p style="font-size: 30px; margin-bottom: 5px">Now you are moving to the</p>
                <h1>Privacy Preserving Interactive Record Linkage (PPIRL)</h1>
                <p style="font-size: 30px"><strong>CLICK</strong> on the text if you want more information disclosed.</p>
            </div>
            <div id="content">
                <div class="module_intros">
                    <img style="height:450px;margin-top: 2px;" src="../static/images/module_intros/PPIRL_instruction.PNG" alt="PPIRL"/>
                </div>

                <div>
                    <p style="text-align: center;font-size: 28px">
                        <strong>STOP.</strong> Please wait for the facilitator before you press the submit button
                    </p>
                </div>

                <div class="submit_div">
                    <form>
                        <button formaction="{{ url_for('next') }}" class="submit_button">Next</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="footer_filler"></div>
        <footer class="footer">
            <div class="container">
                <span class="text-muted">Copyright © 2017 • Population Informatics Research Group • Texas A&M University</span>
            </div>
        </footer>
    </body>
</html>
