<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PPIRL</title>
        <link rel="shortcut icon" href="../static/images/site/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="../static/css/site.css" type="text/css">
        <link rel="stylesheet" href="../static/css/instructions.css?q=26" type="text/css">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="../static/css/footer.css" type="text/css">
        <script src="../static/javascript/jquery-3.2.1.min.js"></script>
        <script src="../static/javascript/popper.min.js"></script>
        <script src="../static/javascript/bootstrap.min.js"></script>
        <script src="../static/javascript/instructions.js"></script>
        <script src="../static/javascript/site.js"></script>
    </head>

    <body>
        <div id="wrapper">
            <div id="title">
                <h3>Instructions</h3>
            </div>
            <div id="content">
                <div>
Important instructions:<br/>
<br/>
Once you begin,
<ul style="margin-bottom: 0px">
    <li><strong>Do NOT refresh</strong> (Do not hit F5 or the refresh icon or right click)</li>
    <li><strong>Do NOT press the back button</strong> (Do not press the back button or right click)</li>
    <li><strong>Do NOT take the study on Internet Explorer or Firefox.</strong></li>
</ul>
Use Google Chrome (Version 64.0.3282.186) to take the study <br/>
This means that you are requested to preferably use only the left mouse button and only on the actual web page to navigate.<br/>
Should you run into any technical problems during the study, please stand up and ask any of the volunteers for help.<br/>
<br/>
<strong style="font-size: 28px">Overview</strong><br/>
The study has 3 sections:<br/>
<ol>
    <li>Introduction to Record Linkage</li>
    <li>Privacy in Record Linkage</li>
    <li>Clickable RL Interface</li>
</ol>
                </div>
                <div class="submit_div">
                    <form>
                    <button formaction="{{ url_for('next') }}" id="button_0" class="submit_button">Next</button>
                    </form>
                </div>
            </div>
        </div>
        {% include "footer.html" ignore missing %}
    </body>
</html>
