<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PPIRL</title>
        <link rel="shortcut icon" href="../static/images/site/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="../static/css/site.css" type="text/css">
        <link rel="stylesheet" href="../static/css/instructions.css?q=26" type="text/css">
        <link rel="stylesheet" href="../static/css/footer.css" type="text/css">
        <link rel="stylesheet" href="../static/css/checkbox.css" type="text/css">
        <script src="../static/javascript/jquery-3.2.1.min.js"></script>
        <script src="../static/javascript/site.js"></script>
        <script src="../static/javascript/introduction.js"></script>
    </head>

    <body>
        <div id="wrapper">
            <div id="title">
                <h3>Study of Record Linkage and Information Disclosure</h3>
            </div>
            <div id="page-number">
                （ page: 1/17 ）
            </div>
            <div id="content">
                <div id="irb_info">
                    <p>
<strong>IRB Study Number:</strong> IRB2017-0669M<br />
<strong>Principal Investigator:</strong> Alva O. Ferdinand [TAMU Department: Health Policy & Management]<br />
<strong>Student Research Assistants:</strong> Theodoros Giannouchos<br />
<strong>Study Contact: email:</strong> ferdinand@tamhsc.edu, phone: (979) 436-9434<br />
<br />
<strong>What are some general things you should know about research studies?</strong><br />
You are being asked to take part in a research study. Joining the study is voluntary. You may refuse to join, or you may withdraw your consent to be in the study, for any reason, without penalty. You can leave the research at any time and it will not be held against you.
<br /><br />
Research studies are designed to obtain new knowledge. This new information may help people in the future. You may not receive any direct benefit from being in the research study. There also may be risks associated with being in research studies. (Find details in question below.)
<br /><br />
Details about this study are discussed below. It is important that you understand this information so that you can make an informed decision about being in this research study. You can save an electronic copy of this consent form. You should ask the researchers or student research assistants named above any questions you have about this study at any time.
<br /><br />
The Patient-Centered Outcomes Research Institute (PCORI) is providing financial support for this study.
<br /><br />
<strong>What is the purpose of this study?</strong><br />
The purpose of this research study is to understand the perceived risks and benefits by patients and stakeholders when using the proposed PPIRL (Privacy Preserving Interactive Record Linkage) framework for studies that require record linkage. The study will inform us in writing the template documents (e.g. privacy statement, IRB application and DUA) that will be used with the PPIRL framework as well as inform the final design requirements to minimize the identity disclosure via controlled information disclosure and quantifying and communicating the remaining privacy risks for studies that require record linkage.
<br /><br />
<strong>How many people will take part in this study?</strong><br />
Approximately 40 people will participate in the research study
<br /><br />
<strong>How long will your part in this study last?</strong><br />
This study has two parts. The first part (part 1) is the tutorial you are going to experience at this point and should take approximately 20 minutes. The second part (part 2) is an online discussion session for which you will be able to sign-up for at the end of part 1. If you choose to participate in the discussion session, it will last about 120-minutes.
<br /><br />
<strong>What will happen if you take part in the study?</strong><br />
If you agree to participate in this study, you will be asked to participate in a 20-minute online tutorial of our proposed framework that involves the following:
<ul>
<li><strong>Overview:</strong> Learning material will be available to you online which will explain current practices in record linkage, and you will get hands-on experience on the proposed PPIRL framework for PCOR/CER that requires record linkage.
<li><strong>Experiential learning:</strong> You will then participate in an individual online experiential learning of the PPIRL framework where you will be shown a series of identifying information about fake people. You will then be asked questions about what you think about the data we show you and your confidence level of your thought.
<li><strong>Post tutorial:</strong> You will then be given the opportunity to sign-up for one of the available online discussion sessions.
</ul>
If you agree to participate in one of these sessions, you will be asked to participate in a 120-minute online group discussion session with several other people who, like yourself, have expressed interest in participating in this research study that involves the following:
<ul>
<li><strong>Overview:</strong> A moderator will explain more about what the objectives of the study are and present the PPIRL framework for PCOR/CER that requires record linkage.
<li><strong>Experiential learning:</strong> We will review the online tutorial as a group.
<li><strong>Group Discussion:</strong> You will participate in an online group discussion and consensus building activity on pros and cons  of using the PPIRL framework for record linkage, what your concerns might be as a potential research participant, and what safeguards, if any, you think would be wise to have if data are shared for the PPIRL framework. We would like to explore your attitudes, opinions and experiences about the use of PPIRL framework.
<li><strong>Pre/Post Survey:</strong> There will be a brief survey before and after the group session to measure any attitude changes from the group experience.
</ul>
The discussion session will be audio recorded.  The audio recording will be stored and analyzed for research purposes, but will not be shared with anyone outside the study team. We will not use your name in any study publications or presentations.
<br /><br />
                
<strong>What are the possible benefits from being in this study?</strong><br />
Research is designed to benefit society by gaining new knowledge. Your participation is important to help us understand how to provide privacy protection as well as do good research on people using personal data, but you may not benefit personally from being in this research study.<br />
<br />
<strong>What are the possible risks or discomforts involved from being in this study?</strong><br />
The things that you will be doing are no more than the risks that you would come across in everyday life. We do not think you will experience any discomfort or risk from the study. We will be studying privacy protection by looking at what people consider are potential risk and benefits of using the PPIRL framework, BUT we will NOT be asking you any personal questions about yourself or anyone you know.<br />
<br />
<strong>How will your privacy be protected?</strong><br />
We will not collect any personal identification information during this study. Only the personnel involved with recruitment will have access to your email we collected during recruitment for communication during the recruitment and payment purposes. This information will not be linked to any of the data we collect on your thoughts during the study. We ask you and other group participants to respect the privacy of all group members and not disclose anything that was said during the discussion. However, we cannot guarantee that all group members will do so. Audio recordings will be stored on a secure computer at Texas A&M University for up to 3 years, and all research information will be stored on password protected computers accessible only to our study team.<br />
<br />
<strong>Will you receive anything for being in this study?</strong><br />
You will receive $20 gift certificate at the end of the online NGT research session process (part 2, final online voting) as payment for your participation. Each participant will also be entered into a raffle to receive an additional $100 gift card. 
<br /><br />
<strong>Will it cost you anything to be in this study?</strong><br />
Aside from your time, there are no costs for taking part in this study. There are no costs for participation in the study.<br />
<br />
<strong>Will information from this study be kept private?</strong><br />
Information about you will be kept anonymous. People who have access to your information include the Principal Investigator and research study personnel. Representatives of regulatory agencies such as the Office of Human Research Protections (OHRP) and entities such as the Texas A&M University Human Research Protection Program may access your records to make sure the study is being run correctly and that information is collected properly.<br />
<br />
<strong>The records of this study will be kept confidential.  No identifiers linking you to this study will be included in any sort of report that might be published. </strong> <br/><br/>               
<strong>What if you have questions about this study?</strong><br />
You have the right to ask and get answers to any questions you may have about this research. If you have questions, or concerns, you should contact me at ferdinand@tamhsc.edu or (979) 436-9434.<br />
<br />
<strong>What if you have questions about your rights as a research participant?</strong><br />
All research on human volunteers is reviewed by a committee that works to protect your rights and welfare. For questions about your rights as a research participant; or if you are not satisfied with how this study is being conducted, or if you have any concerns, complaints, or general questions about the research or your rights as a participant, please contact the Texas A&M Institutional Review Board (IRB) to speak to someone independent of the research team at 979-458-4067 or toll free at 1-855-795-8636. You can also write an email to irb@tamu.edu, submit a human subjects research concern form at http://rcb.tamu.edu/humansubjects/humansubjectsconcernsubmission or submit a report to Texas A&M EthicsPoint at https://secure.ethicspoint.com/domain/media/en/gui/20488/index.html.<br />
                    <p>
                </div>
                <form class="confirm_form">
                    <div>
                        <input type="checkbox" value ="1" id="checkbox_1" name=""/>
                        <label for="checkbox_1">
                            I have read the information provided above and I have asked all the questions I have at this time.
                            By checking this box, I am agreeing to participate in the study voluntarily.
                        </label>
                    </div>
                </form>
                <div class="submit_div">
                    <form>
                        <button formaction="{{ url_for('next') }}" id="button_1" class="submit_button" disabled>Next</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="footer_filler"></div>
        <footer class="footer">
            <div class="container">
                <span class="text-muted">Copyright © 2017 • Population Informatics Research Group • Texas A&M University</span>
            </div>
        </footer>
    </body>
</html>
