<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Study Survey</title>
</head>
<body>
<div id="survey">
    <!--<h1>Post-Study Survey</h1>-->

    <div style="width: 700px">
        <h4>Please answer these few questions about the study</h4>
        <hr>
    </div>

    <br>

    <div style="font-size: 100%; width: 40%;">



    <form action="post_survey" method="post" name="post_survey_form">

    <ol style="line-height: 1.5;">
        <h3>Overall</h3>
        <li>
            What are your overall thoughts on this system and method for the human interaction part of a semi-automated record linkage process?<br>
            <textarea name="overall_thoughts" rows="4" cols="50"></textarea>
        </li><br>
        <li>
            What do you think about the method of hiding data values and allowing partial disclosure as needed? <br>
            <textarea name="data_hiding_thoughts" rows="4" cols="50"></textarea>
        </li><br>
        <li>
            Did you feel like your decision-making was affected by the limited disclosure and click-to-access method? Please explain.<br>
            <textarea name="limited_disclosure_thoughts" rows="4" cols="50"></textarea>
        </li><br>

        <h3>Meter and Budget</h3>
        <li>
            Did you pay attention to the meter? Do you think it would affect your record linking?<br>
            <textarea name="meter_attention" rows="4" cols="50"></textarea>
        </li><br>
        <li>
            How do you think you would choose to open details?<br>
            <textarea name="open_details" rows="4" cols="50"></textarea>
        </li><br>
        <li>
            Did you feel limited by the budget?<br>
            <textarea name="budget_limited" rows="4" cols="50"></textarea>
        </li>

        <h3>Problems and Benefits</h3>
        <li>
            Do you have any comments about potential problems with this general approach for hiding and showing data details?<br>
            <textarea name="problems" rows="4" cols="50"></textarea>
        </li><br>
        <li>
            Do you think the method would affect linkage accuracy?
            <br>
            <textarea name="accuracy_affect" rows="4" cols="50"></textarea>
        </li><br>
        <li>
            Do you think there are potential benefits for this method?
            <br>
            <textarea name="benefits" rows="4" cols="50"></textarea>
            <ul>
                <li>Are there any specific contexts in which this system is especially useful? <br>
                    <textarea name="contexts_useful" rows="4" cols="50"></textarea>
                </li>
                 <li>Do you see any potential benefits for this approach for privacy? <br>
                    <textarea name="privacy_benefits" rows="4" cols="50"></textarea>
                </li>
            </ul>
        </li><br>

        <h3>Comparison to what you do now with full access to data</h3>
        <li>
            Do you have full access to all data when you link data now? <br>
            <input type="radio" id="full_data_access_1" name="full_data_access" value="yes"> Yes &nbsp;&nbsp;
            <input type="radio" id="full_data_access_2" name="full_data_access" value="no"> No &nbsp;&nbsp; <br>
            If yes, briefly describe how you link data now.<br>
            <textarea name="" rows="4" cols="50"></textarea>
        </li><br>
        <li>
            Compared to what you use now with full access to the data, <strong>how much privacy protection</strong>, to the subject of the data, do you think this system provides?<br>
            <select name="privacy_protection_compare">
                <option value="0">Please select</option>
                <option value="Much more protection">Much more protection</option>
                <option value="More protection">More protection</option>
                <option value="Same protection">Same protection</option>
                <option value="Less protection">Less protection</option>
                <option value="Much less Protection">Much less protection</option>
                <option value="na">Not applicable</option>
             </select>
        </li><br>

        <li>
             Compared to what you use now with full access to the data, how much do you think this system <strong>would affect the linkage accuracy</strong>?<br>
            <select name="linkage_accuracy_compare">
                <option value="0">Please select</option>
                <option value="Much better accuracy">Much better accuracy</option>
                <option value="Better accuracy">Better accuracy</option>
                <option value="Same accuracy">Same accuracy</option>
                <option value="Less accuracy">Less accuracy</option>
                <option value="Much less accuracy">Much less accuracy</option>
                <option value="na">Not applicable</option>
             </select>
        </li><br>

        <li>
            Compared to what you use now with full access to the data, do you think using this system <strong>would take more time?</strong><br>
            <select name="time_compare">
                <option value="0">Please select</option>
                <option value="Much less time">Much less time</option>
                <option value="Less time">Less time</option>
                <option value="Same time<">Same time</option>
                <option value="More time">More time</option>
                <option value="Much more time">Much more time</option>
                <option value="na">Not applicable</option>
             </select>
        </li><br>

        <h3>Comparison to using privacy preserving record linkage</h3>
        <li>
            Do you use encryption based privacy-preserving record linkage? <br>
            <input type="radio" id="ppirl_access_1" name="ppirl_access" value="yes"> Yes &nbsp;&nbsp;
            <input type="radio" id="ppirl_access_access_2" name="ppirl_access" value="no"> No &nbsp;&nbsp; <br>
            If yes, briefly describe how you use privacy preserving record linkage now.<br>
            <textarea name="" rows="4" cols="50"></textarea>
        </li><br>


       <li>
            Do you think this system can be used with privacy preserving record linkage as a complementary method? If so, please describe how.
            <br>
            <textarea name="complementary_method" rows="4" cols="50"></textarea>
        </li><br>
        <li>
            Compared to encryption based privacy preserving record linkage, <strong>how much privacy protection</strong>, to the subject of the data, do you think this system provides?<br>
            <select name="ppirl_privacy_protection_compare">
                <option value="0">Please select</option>
                <option value="Much more protection">Much more protection</option>
                <option value="More protection">More protection</option>
                <option value="Same protection">Same protection</option>
                <option value="Less protection">Less protection</option>
                <option value="Much less Protection">Much less protection</option>
                <option value="na">Not applicable</option>
             </select>
        </li><br>

        <li>
             Compared to encryption based privacy preserving record linkage, how much do you think this system <strong>would affect the linkage accuracy</strong>?<br>
            <select name="ppirl_linkage_accuracy_compare">
                <option value="0">Please select</option>
                <option value="Much better accuracy">Much better accuracy</option>
                <option value="Better accuracy">Better accuracy</option>
                <option value="Same accuracy">Same accuracy</option>
                <option value="Less accuracy">Less accuracy</option>
                <option value="Much less accuracy">Much less accuracy</option>
                <option value="na">Not applicable</option>
             </select>
        </li><br>

        <li>
            Compared to encryption based privacy preserving record linkage, do you think using this system <strong>would take more time?</strong><br>
            <select name="ppirl_time_compare">
                <option value="0">Please select</option>
                <option value="Much less time">Much less time</option>
                <option value="Less time">Less time</option>
                <option value="Same time<">Same time</option>
                <option value="More time">More time</option>
                <option value="Much more time">Much more time</option>
                <option value="na">Not applicable</option>
             </select>
        </li><br>

        <h3>Practical use</h3>
        <li>
            Do you think researchers would be confident in using this system to link their data? Why or why not?    
            <br>
            <textarea name="researchers_useful" rows="4" cols="50"></textarea>
        </li><br> 

        <h3>Future contact</h3>
        <li>
            May we contact you to discuss your responses?<br>
            <input type="radio" id="future_contact_y" name="future_contact" value="yes"> Yes &nbsp;&nbsp;
            <input type="radio" id="future_contact_n" name="future_contact" value="no"> No &nbsp;&nbsp; <br>
            If yes, please provide email<br>
            <input type="text" id="email_id" name="email">
        </li>


    </ol>    

    <br><br>

    <div id="div_submit">
        <input type="submit" id="submitComments" name="button_submit" value="Submit" style="margin-left: 300px;" >
    </div>

    </form>

</div>
</div>
</body>
</html>