<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PPIRL</title>
        <link rel="shortcut icon" href="../static/images/site/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="../static/css/site.css" type="text/css">
        <link rel="stylesheet" href="../static/css/instructions.css?q=26" type="text/css">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="../static/css/checkbox.css" type="text/css">
        <link rel="stylesheet" href="../static/css/footer.css" type="text/css">
        <script src="../static/javascript/jquery-3.2.1.min.js"></script>
        <script src="../static/javascript/popper.min.js"></script>
        <script src="../static/javascript/bootstrap.min.js"></script>
        <script src="../static/javascript/site.js"></script>
        <script src="../static/javascript/instructions.js"></script>
    </head>

    <body>
        <div id="wrapper">
            <div id="title">
                <h3>Instructions</h3>
            </div>
            <div id="page-number" style="margin-left: 45%;">
                （ page: 8/17 ）
            </div>
            <div id="content">
                <object id="instruction_pdf" data="../static/resources/pdf/disclosure_mode_5.pdf" type="application/pdf">
                   <p><b>Error</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="../static/resources/pdf/disclosure_mode_5.pdf" target="_blank">Download PDF</a>.</p>
                </object>
                <form class="confirm_form">
                    <div>
                        <input type="checkbox" value ="1" id="checkbox_2" name=""/>
                        <label for="checkbox_2">
                            I have viewed all the slides and I am aware of the instructions.
                        </label>
                    </div>
                </form>
                <div class="submit_div">
                    <form>
                        <button formaction="{{ url_for('next') }}" id='button_2' class="submit_button" disabled>Next</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="footer_filler"></div>
        <div class="footer">
            <div class="container">
                <span class="text-muted">Copyright © 2017 • Population Informatics Research Group • Texas A&M University</span>
            </div>
        </div>
    </body>
</html>
