<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PPIRL</title>
        <link rel="shortcut icon" href="../static/images/site/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="../static/css/site.css" type="text/css">
        <link rel="stylesheet" href="../static/css/instructions.css?q=26" type="text/css">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="../static/css/footer.css" type="text/css">
        <script src="../static/javascript/jquery-3.2.1.min.js"></script>
        <script src="../static/javascript/popper.min.js"></script>
        <script src="../static/javascript/bootstrap.min.js"></script>
        <script src="../static/javascript/instructions.js"></script>
        <script src="../static/javascript/site.js"></script>
    </head>

    <body>
        <div id="wrapper">
            <div id="title">
                <h3>Thank you!</h3>
            </div>
            <div id="content">
                <div>
I hope you enjoyed doing the tutorial.<br/>
<br/>
Having good data is a requirement for generating good information from it to support good evidence based decisions. Balancing high quality record linkage to support good evidence based research requires hitting the sweet spot in balancing patient privacy and sharing just the right amount of information needed for good record linkage decisions.<br/>
<br/>
We hope you got a glimpse of what it takes to hit the sweet spot.
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <span class="text-muted">Copyright © 2017 • Population Informatics Research Group • Texas A&M University</span>
            </div>
        </footer>
    </body>
</html>
