{% extends "head_template.html" %}
{% block content %}
    <ul>
        <li>
            For cells that are partly different, only the differences will be revealed in the first click and the full contents, in the next click.
            <br><img src="static/images/tutorial/partially_diff.gif" style="border-width: 10px; border-style: solid;">
        </li>
        <li>That means such cells can be clicked twice to open them up fully</li>    
        <li>This method of disclosure is called incremental disclosure.</li>
    </ul>    
{% endblock %}

