{% extends "head_template.html" %}
{% block content %}
   
<img src="/static/images/tutorial/slides/2.jpg" width="65%" style="left: 200px;"/>
   <!--  <p>
        Did you pay attention to the method of disclosure? For identical as well as completely different cells, all the contents will be revealed in the first click.<br>
        <video autoplay="autoplay"  style="border-width: 3px; border-style: solid;" controls><source src="static/images/tutorial/diff.mp4" type="video/mp4" /></video>
    </p>   -->      
{% endblock %}


