{% extends "head_template.html" %}
{% block content %}
  <br>
  <h4>So, what to open and what not to?</h4>

   <ul>
        <li>You only open the cells you need to make a good linkage decision.</li>
        <li>You don’t open cells that don’t help linkage decisions. </li>
        <li>Let’s look at an example</li>
   </ul>

   <br><br>

   <img src="static/images/tutorial/budget_meter.gif" style="border-width: 10px; border-style: solid;">
{% endblock %}


You only open the cells you need to make a good linkage decision
You don’t open cells that don’t help linkage decisions. 
Let’s look at an example