{% extends "head_template.html" %}
{% block content %}
<img src="/static/images/tutorial/slides/3.jpg" width="65%" style="left: 200px;"/>
    <!-- <ul>
        <li>
            For cells that are partly different, only the differences will be revealed in the first click and the full contents, in the next click.
            <br> <video autoplay="autoplay"  style="border-width: 3px; border-style: solid;" controls>
                <source src="static/images/tutorial/partially_diff.mp4" type="video/mp4" /></video>
        </li>
        <li>That means <b>partially opened cells should be clicked twice to open them up fully</b></li>    
        <li>This method of disclosure is called incremental disclosure.</li>
    </ul>     -->
{% endblock %}

