{% extends "head_template.html" %}
{% block content %}

<!-- <h3>Interactive Interface</h3> -->

<img src="/static/images/tutorial/slides/1.jpg" width="65%" style="margin-left: 15%;"/>

  <!--   <ul>
        <li>That was hard, wasn't it?</li>
        <li>Sometimes, data masking can hide data that might be essential for record linkage. </li>
        <li>How would it be if you can open up the hidden cells as per your need?</li>
        <li>Over the next few pages, we will walk you through an interactive interface for Record linkage.</li>
        <li>Please note that a few screencaptures have been added to these pages and they look very identical to the actual interface!</li>
        <li>The way you can tell the images aprt from the interface is that they have <b>thick black borders</b></li>
    </ul>

     -->
         
        
        
    
{% endblock %}

