{% extends "head_template.html" %}
{% block content %}

<img src="/static/images/tutorial/slides/4.jpg" width="65%" style="margin-left: 15%;"/>
  <!-- <br> -->
 <!--  <h4>So, what to open and what not to?</h4>

   <ul>
        <li>You only open the cells you need to make a good linkage decision.</li>
        <li>You don’t open cells that don’t help linkage decisions. </li>
        <li>Let’s look at an example</li>
   </ul>

   <br><br>

  <video autoplay="autoplay"  style="border-width: 3px; border-style: solid;" controls><source src="static/images/tutorial/decision_making.mp4" type="video/mp4" /></video> -->
{% endblock %}

